roombookingSoap/src/main/resources/room.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://www.bp.org/room/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        name="escaperoom"
        targetNamespace="http://www.bp.org/room/"
        xmlns:bp="http://www.bp.org">
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.bp.org/">
            <xsd:import schemaLocation="room.xsd" namespace="http://www.bp.org"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="bookRoomRequestMsg">
        <wsdl:part element="bp:bookRoomRequest" name="payload"/>
    </wsdl:message>
    <wsdl:message name="bookRoomResponseMsg">
        <wsdl:part element="bp:bookRoomResponse" name="payload"/>
    </wsdl:message>
    <wsdl:message name="cancelBookingRequestMsg">
        <wsdl:part element="bp:cancelBookingRequest" name="payload"/>
    </wsdl:message>
    <wsdl:message name="cancelBookingResponseMsg">
        <wsdl:part element="bp:cancelBookingResponse" name="payload"/>
    </wsdl:message>
    <wsdl:message name="faultMsg">
        <wsdl:part element="bp:fault" name="payload"/>
    </wsdl:message>
<!--    <wsdl:message name="roomFault">-->
<!--        <wsdl:part element="bp:roomFault" name="payload"/>-->
<!--    </wsdl:message>-->
    <wsdl:portType name="RoomPortType">
        <wsdl:operation name="bookRoom">
            <wsdl:input message="tns:bookRoomRequestMsg"/>
            <wsdl:output message="tns:bookRoomResponseMsg"/>
            <wsdl:fault message="tns:faultMsg" name="roomFault"/>
        </wsdl:operation>
        <wsdl:operation name="cancelBooking">
            <wsdl:input message="tns:cancelBookingRequestMsg"/>
            <wsdl:output message="tns:cancelBookingResponseMsg"/>
            <wsdl:fault message="tns:faultMsg" name="roomFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RoomBookingSOAP" type="tns:RoomPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="bookRoom">
            <soap:operation soapAction="http://www.bp.org/room/bookRoom"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="roomFault">
                <soap:fault name="roomFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="cancelBooking">
            <soap:operation soapAction="http://www.bp.org/room/cancelBooking"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="roomFault">
                <soap:fault name="roomFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RoomBookingService">
        <wsdl:port binding="tns:RoomBookingSOAP" name="RoomBookingPort">
            <soap:address location="http://www.bp.org/room/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>